@font-face {
    font-family: 'ascii';
    src: url("../fonts/MINECRAFTRUSNEW.otf") format("opentype");

    font-family: 'Gridular';
    src: url("../fonts/Gridular-Regular.otf") format("opentype");
}