@font-face {
    font-family: 'ascii';
    src: url("../fonts/MINECRAFTRUSNEW.woff") format("woff");
}

@font-face {
    font-family: 'Gridular';
    src: url("../fonts/Gridular-Regular.woff") format("woff");
}