* {
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: ascii;
}

.start {
    font-size: 3vw;
    margin-right: 50vw;
    margin-bottom: 20px;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logo-img {
    margin: 8vh 8vw;
    width: 400px;
    height: 90px;
    flex-shrink: 0;
}

.ahpc {
    margin: 4vh 8vw;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
}

.main-info {
    height: 100vh;
    background-image: url('../img/lobby_bg.jpg');
    background-size: cover; /* Растягивает изображение на весь экран, сохраняя пропорции */
    background-position: center; /* Располагает изображение по центру экрана */
    background-repeat: no-repeat; /* Запрещает повторение изображения */
}

.name {
    margin: 0vw 0vw 0vh 73vw;
    font-size: 1.5vw;
}

.display_cont {
    margin-top: 15vh;
}

.a {
    text-decoration: none;
    text-align: center;
    font-family: ascii;
    font-size: 2vw;
}

.link-a {
    font-family: ascii;
    text-decoration: none;
}

  .countdown-container {
    height: 300px;
    text-align: center;
  }
  
  #countdown {
    font-family: Gridular;
    font-size: 10vw;
    margin-bottom: 20px;
    color: #fff;
    text-shadow:
      0 0 7px #8212b2,
      0 0 10px #ed4343,
      0 0 21px #fff,
      0 0 42px rgb(234, 0, 255),
      0 0 72px rgb(255, 0, 132),
      0 0 82px rgb(255, 0, 132),
      0 0 92px rgb(153, 0, 255),
      0 0 101px rgb(217, 0, 255);
  }
  
  
  #countdown .seconds {
    font-size: 5vw; /* Размер шрифта для секунд */
  }
  
  #startButton {
    font-family: ascii;
    background: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 25vh;
    font-size: 1.5vw;
    padding: 10px 20px;
    cursor: pointer;
  }

.main {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    background-size: 200vw;
    background-position: center;
    background-repeat: no-repeat;
}

.instr {
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instr-text {
    color: #A7B5FF;
    text-shadow: 0px 0px 6.61px #EFA7FF, 0px 0px 13.219px #EFA7FF, 0px 0px 46.267px #EFA7FF, 0px 0px 92.534px #2000E3, 0px 0px 158.63px #2000E3, 0px 0px 277.603px #2000E3;
    font-size: 2vw;
}

.math {
    width: 99vw;
    height: 350vh;
    position: absolute;
}

.text_display {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.text_block {
    margin-top: 10vh;
    width: 80%;
}

.about {
    font-size: 3vw;
    color: #f0f0f0;
    text-shadow:
    0 0 7px #8212b2,
    0 0 10px #ed4343,
    0 0 21px #fff,
    0 0 42px rgb(234, 0, 255),
    0 0 72px rgb(255, 0, 132),
    0 0 82px rgb(255, 0, 132),
    0 0 92px rgb(153, 0, 255),
    0 0 101px rgb(217, 0, 255);
    }

.text_about {
    font-size: 1.5vw;
    margin-top: 5vh;
    color: #fff;
}


.gifs {
    margin-top: 15vh;
    width: 10vw;
    height: 15vw;
    flex-shrink: 0;
}

.block_with_gifs {
    display: flex;
    flex-wrap: wrap;    
}

.first_block {
    margin-right: 40vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.block_text{
    margin-top: 10vh;
}

.second_block {
    margin-top: 20vh;
    margin-left: 40vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.third_block {
    margin-top: 20vh;
    margin-right: 28vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gif_text {
    position: relative;
    z-index: 1;
    font-size: 2vw;
    margin: 10vh 3vw 0vw 3vw;
    color: #fff;
}

.mail {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.mail-text {
    color: #6100FF;
    text-align: center;
    font-family: ascii;
    font-size: 2vw;
    margin-bottom: 5vh;
}

.info {
    position: relative;
    z-index: 1;
    margin-bottom: 10vh;
}

.a-style {
    text-decoration: none;
    text-align: center;
    font-family: ascii;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.number {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.phone {
    color: #6100FF;
    text-align: center;
    font-family: ascii;
    font-size: 2vw;
}

.phone-number {
    margin-top: 5vh;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    font-family: ascii;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.partners {
    margin-top: 10vh;
}

.part {
    color: #6100FF;
    text-align: center;
    font-family: ascii;
    font-size: 2vw;
}

.partners-contacts {
    display: flex;
    justify-content: center;
}


.footer {
    position: relative;
    z-index: 1;
    background: #171E27;
    height: auto;
}

.partners-a {
    margin-top: 5vh;
    text-align: center;
}

.footer-logo {
    width: 40%;
    display: flex;
}

.fot-logo {
    margin: 8vh;
    width: 400px;
    height: 90px;
    flex-shrink: 0;
}

.footer-text {
    width: auto;
    margin-left: 8vw;
    color: #625873;
    font-family: Montserrat;
    font-size: 1vw;
}

.footer-block {
    margin-top: 10vh;
    margin-left: 8vw;
}

.asd {
    display: flex;
    margin-left: 25vw;
}

.footer-block-text {
    margin: 5vh 0vw;
    text-decoration: none;
    color: #625873;
    font-family: Montserrat;
    font-size: 1vw;
}

.a:hover {
    color: #6b4b9f;
}

.reg {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registr {
    color: #6100FF;
    text-decoration: none;
    font-family: ascii;
    font-size: 2vw;
}

.registr:hover {
    color: #2000E3;
}

@media screen and (min-width: 300px) {
    .start {
        font-size: 3vw;
    }

    #countdown {
        font-size: 10vw;
    }

    #countdown .seconds {
        font-size: 7.5vw;
    }

    .main {
        max-width: 540px;
    }

    .gif_text {
        line-height: 3vh;
        font-size: 3vw;
    }

    .a-style {
        font-size: 3vw;
    }

    .registr {
        font-size: 3vw;
    }

    #startButton {
        font-size: 3vw;
        margin-top: 2vh;
    }

    .text_about {
        font-size: 3vw;
    }

    .number {
        margin-top: 3vh;
    }

    .mail-text {
        margin-bottom: 3vh;
    }

    .partners {
        margin-top: 5vh;
    }

    .phone-number {
        font-size: 3vw;
    }

    .reg {
        margin-top: 5vh;
    }

    .instr {
        margin: 5vh 0 0 0;
    }

    .display_cont {
        margin-top: 10vh;
    }

    .main-info {
        height: 60vh;
    }

    .logo-img {
        margin: 5vh;
        width: 110px;
        height: 25px;
        flex-shrink: 0;
    }

    .block_text {
        margin-top: 12vh;
    }

    .asd {
        margin-left: 0;
    }

    .gifs {
        margin-top: 17vh;
        width: 20vw;
        height: 12vh;
    }

    .gif_text {
        margin: 3vh 0vh 0vh 3vw;
    }

    .main {
        height: 300vh;
    }

    .math {
        width: 100vw;
        height: 240vh;
    }

    .first_block {
        margin-right: 10vw;
    }

    .third_block {
        margin-top: 10vh;
    }

    .second_block {
        margin-top: 10vh;
        margin-left: 35vw;
    }
}

@media screen and (min-width: 430px) {
    .math {
        height: 270vh;
    }
}

@media screen and (min-width: 540px) {
    .main {
        max-width: 720px;
    }

    .partners {
        margin-top: 5vh;
    }

    .reg {
        margin-top: 5vh;
    }

    .display_cont {
        margin-top: 5vh;
    }

    .main-info {
        height: 60vh;
    }
    
    .asd {
        margin-left: 20vw;
    }
    
    .math {
        width: 99.9vw;
        height: 275vh;
    }

    .gifs {
        width: 20vw;
        height: 15vh;
    }
}

@media screen and (min-width: 720px) {
    .main {
        max-width: 950px;
    }

    .asd {
        margin-left: 25vw;
    }

    .number {
        margin-top: 10vh;
    }

    .mail-text {
        margin-bottom: 10vh;
    }

    .partners {
        margin-top: 10vh;
    }

    .reg {
        margin-top: 10vh;
    }
    
    .logo-img {
        margin: 5vh;
        width: 220px;
        height: 50px;
        flex-shrink: 0;
    }

    .ahpc {
        margin: 5vh 5vw;
        width: 200px;
        height: 80px;
        flex-shrink: 0;
    }

    .fot-logo {
        margin: 5vh;
        width: 220px;
        height: 50px;
        flex-shrink: 0;
    }

    .block_text {
        margin-top: 0vh;
    }

    .display_cont {
        margin-top: 0vh;
    }

    .footer {
        height: 30vh;
    }

    .asd {
        margin-left: 0;
    }

    .gifs {
        margin-top: 5vh;
        width: 15vw;
        height: 20vh;
    }

    .footer-block {
        margin-top: 5vh;
        margin-left: 10vw;
    }
    .main {
        height: 300vh;
    }

    .math {
        width: 99.9vw;
        height: 310vh;
    }

    .second_block {
        margin-left: 40vw;
    }
}

@media screen and (min-width: 850px) {
    .text_about {
        font-size: 2vw;
    }
    
    #countdown {
        font-size: 10vw;
    }

    #countdown .seconds {
        font-size: 5vw;
    }

    .phone-number {
        font-size: 2vw;
    }

    .registr {
        font-size: 2vw;
    }

    .gif_text {
        line-height: 7vh;
        font-size: 2vw;
    }

    .instr {
        margin: 10vh 0;
    }

    .main {
        max-width: 1200px;
    }

    .display_cont {
        margin-top: 10vh;
    }

    .main-info {
        height: 80vh;
    }

    .footer-block {
        margin-left: 30vw;
    }

    .logo-img {
        margin: 5vh;
        width: 220px;
        height: 50px;
        flex-shrink: 0;
    }

    .fot-logo {
        margin: 5vh;
        width: 220px;
        height: 50px;
        flex-shrink: 0;
    }


    .display_cont {
        margin-top: 10vh;
    }

    .block_text {
        margin-top: 0vh;
    }

    .footer {
        height: 50vh;
    }

    .asd {
        margin-left: 0;
    }

    .gifs {
        margin-top: 5vh;
        width: 15vw;
        height: 25vh;
    }

    .main {
        width: 97vw;
        height: 300vh;
    }

    .math {
        width: 99.9vw;
        height: 280vh;
    }

    .second_block {
        margin-left: 40vw;
    }
}

@media screen and (min-width: 1200px) {
    .display_cont {
        margin-top: 15vh;
    }

    .main-info {
        height: 100vh;
    }

    .second_block {
        margin-left: 48vw;
    }
    
    .footer-block {
        margin-left: 40vw;
    }

    .gifs {
        width: 13vw;
        height: 25vh;
    }

    .math {
        width: 99vw;
        height: 350vh;
    }

    .ahpc {
        margin-bottom: 0vh;
    }
}

@media screen and (min-width: 1500px) {
    

    .footer-block {
        margin-left: 50vw;
    }

    .math {
        
        height: 300vh;
    }

    .logo-img {
        margin: 8vh 8vw;
    }

    .gifs {
        width: 10vw;
        height: 25vh;
    }
}
