* {
    margin: 0;
    padding: 0;
    font-family: ascii;
}

body {
    background-image: url(../img/main_bg.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    width: 96vw;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #272727;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aqt {
    margin: 0px 5px;
    color: #d24913;
}

.logo {
    height: 70%;
}

.logo img {
    height: 100%;
}

.lvl {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

.lvl_name {
    background: #272727;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 16px;
    padding: 6px 20px;
}

.lvl_title {
    color: white;
    margin: 0 20px 0px 60px;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    width: 96vw;
    height: 100%;
}

.ttask {
    width: 30%;
}

.aanswer {
    width: 70%;
}

.task {
    height: 100%;
    background: #272727;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 10px;
}

.desc {
    height: 44%;
    text-align: left;
    padding: 20px;
    overflow-y: auto;
    color: #fff;
}

.line {
    background: #111;
    padding: 0.5px 0px;
}

.dop_info {
    overflow-y: auto;
    height: 30%;
    text-align: left;
    margin-top: 3vw;
    padding: 20px;
    color: #fff;
}

.task_title_bg {
    padding-left: 20px;
    font-size: 20px;
    background: #272727;
    color: #111;
    margin: 4.9vw 0vw 0vw 0vw;
    position: absolute;
    width: 30vw;
    height: 33px;
}

.task_title {
    font-weight: 400;
    padding: 20px;
    color: #fff;
}

.answer{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px 0px 0px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background: #272727;
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

#code {
    width: 100%; /* Ширина занимает 100% доступной ширины */
    height: 300px; /* Здесь можно указать высоту в пикселях или других единицах измерения */
}

.answer_inp {
    padding: 10px;
    width: 100%;
    height: 34vw;
    vertical-align: top;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 16px;
    background-color: #272727;
    border-radius: 12px;
    color: #fff;
    resize: none;
    outline: none;
}

.bbtn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 30px 0 10px 0;
}

.btn_answer {
    padding: 4px 10px;
    border-style: solid;
    border-radius: 20px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn_answer:hover {
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.30);
}

textarea:focus {
    outline: none;
}

.lvl_name:focus {
    outline: none;
}
